@mixin section() {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 4rem;
  gap: var(--btn-gap);

  // .btn {
  //   height: 5rem;
  // }

  // @media (max-width: 768px) {
  //   max-width: 16rem;
  //   .btn {
  //     width: 4rem;
  //     height: 4rem;
  //   }
  // }
}
