@mixin section() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--btn-gap);
  margin: 0 auto;
  max-width: 20rem;

  .btn {
    width: 5rem;
    height: 5rem;
  }

  @media (max-width: 768px) {
    max-width: 16rem;
    .btn {
      width: 4rem;
      height: 4rem;
    }
  }
}
