@use "share";

.operation {
    display: flex;
    flex-direction: column;
    gap: var(--btn-gap);

    .game-control, .tts-control {
        @include share.section();
    }

    .tts-control {
        grid-template-columns: repeat(4, 1fr);

        .volume-panel, .language-panel {
            grid-column: 2 / 5;
        }
    }
}