@use 'share';

.home {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;

    @media screen and (min-width: 100vh) {
        flex-direction: row;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: var(--btn-gap);
        width: 100%;
        max-width: 24rem;
        margin: auto 0;
    }
}